<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Knowledge Graph</title>
	</head>
<body>

	<div class="container pt-2">
	
		<div th:replace="fragments/header :: header"></div>
	
		<form th:action="${#httpServletRequest.requestURI}"	th:object="${archive}" method="post">
			<input type="text" hidden="hidden" th:field="*{id}" />
	
			<div>
	
				<label>Title</label> <input type="text" class="form-control" th:field="*{title}" autofocus="autofocus" placeholder="Title" />
				<p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
	
				<label>Link</label> <input type="text" class="form-control" th:field="*{link}" placeholder="Link" />
				<p class="text-danger" th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></p>
				
				<p></p>
				<input class="btn btn-info rounded-pill float-right" type="submit" value="Submit">
	
			</div>
	
		</form>
	
	</div>

</body>
</html>