<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Knowledge Graph</title>
	</head>
<body>

	<div class="container pt-2">
	
		<div th:replace="fragments/header :: header"></div>
	
		<table class="table table-responsive-sm table-bordered">
			<tbody>
				<tr>
					<td>Title</td>
					<td th:text="${archive.title}">Title</td>
				</tr>
				<tr>
					<td>Link</td>
					<td th:text="${archive.link}">Link</td>
				</tr>
				<tr>
					<td>Related Archives</td>
					<td>
						<table class="table table-responsive-sm table-bordered">
							<tr>
								<td>No</td>
								<td>Title</td>
								<td>Link</td>
								<td>Action</td>
							</tr>
							<tr th:each="e,iterator : ${archive.archives}">
								<td th:text="${iterator.index + 1}">1</td>
							    <td th:text="${e.title}"/>
							    <td><a href="#" th:href="@{${e.link}}" target="_blank"><span th:text="${e.link}"></span></a></td>
							    <td>
							    	<a class="btn btn-info rounded-pill" href="#" th:href="@{/admin/archive/{id}/remove.parent/{parentId}(id=${archive.id},parentId=${e.id})}">remove</a>
							    </td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		
		<a class="btn btn-outline-info rounded-pill" href="#" th:href="@{/admin/archive/edit?id={id}(id=${archive.id})}">Edit</a>
		<a class="btn btn-outline-info rounded-pill" href="#" th:href="@{/admin/archive/delete/{id}(id=${archive.id})}">Delete</a>
		<a class="btn btn-info rounded-pill float-right" href="#" th:href="@{/admin/archive/{id}/add.parent(id=${archive.id})}">Add Parent</a>

	</div>
	
</body>
</html>
