<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Knowledge Graph</title>
	</head>
	<body>
	
		<div class="container pt-2">
		
			<div th:replace="fragments/header :: header"></div>
			
			<h4><i class="fas fa-sitemap text-danger fa-lg"></i> Catalogs</h4>
	
			<form action="#" th:action="@{/admin/catalog/search}" method="get">
				<input type="hidden" id="page" name="page" value="0" />
				<input type="hidden" id="size" name="size" value="15" />
				<input type="hidden" id="sort" name="sort" value="name,asc" />
				
				<div class="form-account">
					<input name="name" class="form-control" autofocus="autofocus" placeholder="Search By Name"/>
					<input hidden="hidden" type="submit" name="search" value="Submit"/>	
				</div>				
			</form>
			
			<hr>
	
			<div class="float-right">
				<a th:if="${page.hasPrevious()}" th:href="${previous}" id="previous">
					<button type="button" class="btn btn-outline-info rounded-pill">Previous</button>
				</a>
				<a th:if="${page.hasNext()}" th:href="${next}" id="next">
					<button type="button" class="btn btn-outline-info rounded-pill">Next</button>
				</a>	
			</div>
				
			Total : <span th:text="${page.totalElements}">105</span>
						
			<table class="table table-sm table-responsive-sm">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>ClassMark</th>
						<th>Add</th>
						<th>Actions</th>
					</tr>
				</thead>
	
				<tbody>
					<tr th:each="e,iterator : ${page.content}">
						<td th:text="${iterator.index + 1} + ${page.number * page.size}">1</td>
						<td>
							<a href="#" th:href="@{/admin/catalog/{id}(id=${e.id})}">
								<span th:text="${e.name}"></span>
							</a>
						</td>
						<td th:text="${e.classMark}">ClassMark</td>
						<td>
							<a href="#" th:href="@{/admin/catalog/{id}/add.parent(id=${e.id})}">
								<i class="fas fa-user fa-2x text-danger"></i>
							</a> .
							<a href="#" th:href="@{/admin/catalog/{id}/add.doc(id=${e.id})}">
								<i class="far fa-file-alt fa-2x text-primary"></i>
							</a> .
							<a href="#" th:href="@{/admin/catalog/{id}/add.children(id=${e.id})}">
								<i class="fas fa-baby fa-2x text-danger"></i>
							</a> .
						</td>
						<td>
							<a class="btn btn-sm btn-outline-info text-info" href="#" th:href="@{/admin/catalog/edit?id={id}(id=${e.id})}"><i class="far fa-edit"></i></a>
							| 
							<a class="btn btn-sm btn-outline-info text-info" href="#" th:href="@{/admin/catalog/delete/{id}(id=${e.id})}"><i class="far fa-trash-alt"></i></a>	
						</td>
					</tr>
					<tr th:remove="all">
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
				</tbody>
			</table>
			
			<div th:replace="fragments/footer :: footer"></div>
			
		</div>
	</body>
</html>
