<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Knowledge Graph</title>
	</head>
	<body>
	
		<div class="container pt-2">
		
			<div th:replace="fragments/header :: header"></div>
		
			<form th:action="${#httpServletRequest.requestURI}"	th:object="${tag}" method="post">
				<input type="text" hidden="hidden" th:field="*{id}" />
		
				<div>
					<h4><i class="fas fa-tag fa-lg text-warning"></i> Create Tag</h4>
		
					<label>Name</label> <input type="text" class="form-control" th:field="*{name}" autofocus="autofocus" placeholder="Title" />
					<p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
					
					<p></p>
					<input class="btn btn-info rounded-pill float-right" type="submit" value="Submit">
		
				</div>
		
			</form>
			
			<div th:replace="fragments/footer :: footer"></div>
			
		</div>
	
	</body>
</html>