<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(Minioasis)">
	    <title>Minioasis Knowledge Graph</title>
	</head>
	<body>
	
		<div class="container pt-2">
		
			<div th:replace="fragments/header :: header"></div>
	
			<h4>Tag</h4>
			
			<div class="float-right">
				<a class="btn btn-outline-info rounded-pill" href="#" th:href="@{/admin/tag/edit?id={id}(id=${tag.id})}">Edit</a>
				<a class="btn btn-outline-info rounded-pill" href="#" th:href="@{/admin/tag/delete/{id}(id=${tag.id})}">Delete</a>		
			</div>
		
			<table class="table table-sm table-responsive-sm table-bordered">		
				<tbody>
					<tr>
						<td style="width:10%">Name</td>
						<td><span class="btn btn-success rounded-pill" th:text="${tag.name}"></span></td>
					</tr>
					<tr>
						<td>
							Docs <i class="far fa-file-alt fa-lg text-primary float-right"></i>
							<br>
							<a class="btn btn-info rounded-pill" href="#" th:href="@{/admin/tag/{id}/add.doc(id=${tag.id})}">Add</a>
						</td>
						<td>
							<table class="table table-sm table-responsive-sm table-bordered">
								<tr>
									<td>No</td>
									<td>Title</td>
									<td>Link</td>
									<td>Action</td>
								</tr>
								<tr th:each="e,iterator : ${tag.docs}">
									<td th:text="${iterator.index + 1}">1</td>
								    <td>
								    	<a href="#" th:href="@{/admin/doc/{id}(id=${e.id})}">
								    		<span th:text="${e.title}"></span>
								    	</a>
								    </td>
								    <td>
								    	<a href="#" th:href="@{${e.link}}" target="_blank">
								    		<span th:text="${e.link}"></span>
								    	</a>
								    </td>
								    <td>
								    	<a class="btn btn-info rounded-pill" href="#" th:href="@{/admin/tag/{id}/remove.doc/{docId}(id=${tag.id},docId=${e.id})}">remove</a>
								    </td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			
			<div th:replace="fragments/footer :: footer"></div>
			
		</div>
		
	</body>
</html>
